{
  "plugins": [ "transform-react-jsx", "transform-decorators-legacy", "transform-decorators", "transform-runtime"],
  "presets": ["env", "stage-0", "react", "flow"],
  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "development": {
      "plugins": ["react-hot-loader/babel"]
    }
  }
}
